{% extends "govuk/template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}

{% block pageTitle %}Home – ADTS{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "Animal Disease Testing Service",
    serviceUrl: "/",
    navigation: [
      {
        text: "My Account",
        href: "/",
        active: true
      },
      {
        text: "Sign out",
        href: "/",
        active: true
      }
    ]
  }) }}
{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/assets/css/application.css">
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <p class="govuk-body">Signed in as Test User 2</p>
      <h1 class="govuk-heading-l">New submission</h1>
      <p class="govuk-body">Start a new sick animal submission or healthy animal submission.</p>
      {{ govukButton({
        text: "Sick animal submission",
        href: "/submission-01-client-details",
        isStartButton: true
      }) }}
      {{ govukButton({
        text: "Healthy animal submission",
        href: "/submission-01-client-details",
        isStartButton: true
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-l">View completed submissions or edit draft submissions</h2>
      <form method="get" action="/results">
        <h3 class="govuk-heading-m">Filter submissions by</h3>
        <div class="govuk-grid-row app-submission-filters">
          
          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              id: "client",
              name: "client",
              value: filteredValues.client,
              label: {
                text: "Client"
              }
            }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukInput({
              id: "clinician",
              name: "clinician",
              value: filteredValues.clinician,
              label: {
                text: "Clinician"
              }
            }) }}
          </div>
          <div class="govuk-grid-column-one-quarter">
            {{ govukSelect({
              id: "status",
              name: "status",
              label: {
                text: "Status"
              },
              items: [
                { value: "show_all", text: "Show All", selected: filteredValues.status == 'show_all' },
                { value: "draft", text: "Draft", selected: filteredValues.status == 'draft' },
                { value: "submitted", text: "Submitted", selected: filteredValues.status == 'submitted' },
                { value: "in_progress", text: "In progress", selected: filteredValues.status == 'in_progress' },
                { value: "cancelled", text: "Cancelled", selected: filteredValues.status == 'cancelled' },
                { value: "samples_overdue", text: "Samples overdue", selected: filteredValues.status == 'samples_overdue' },
                { value: "tests_complete", text: "All tests complete", selected: filteredValues.status == 'tests_complete' }
              ]
            }) }}
          </div>
           
          <div class="govuk-grid-column-one-quarter">
            {{ govukSelect({
              id: "submitted-date",
              name: "submitted-date",
              label: {
                text: "Submitted date"
              },
              items: [
                { value: "1_day", text: "In the last day", selected: filteredValues.submitted_date == '1_day' },
                { value: "1_week", text: "In the last week", selected: filteredValues.submitted_date == '1_week' },
                { value: "14_days", text: "In the last 14 days", selected: filteredValues.submitted_date == '14_days' },
                { value: "1_month", text: "In the last month", selected: filteredValues.submitted_date == '1_month' },
                { value: "6_months", text: "In the last 6 months", selected: filteredValues.submitted_date == '6_months' },
                { value: "1_year", text: "In the last year", selected: filteredValues.submitted_date == '1_year' },
                { value: "18_months", text: "In the last 18 months", selected: filteredValues.submitted_date == '18_months' or not filteredValues.submitted_date }
              ]
            }) }}
          </div>

        </div>
        {{ govukButton({
          text: "Search",
          type: "submit"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/js/all.js"></script>
{% endblock %}
